#player{
  width: 100%;
}
.footer{
      padding: 0;
      min-height: 4em;
    }
    .footerHeader{
      /* padding: 0.5em; */
      padding-top: -.5em;
      height: 4em;
    }

    .footerHeader p{
        width: 64%;
        font-size: 80%;
        text-overflow: ellipsis;
        max-height: 2em;
        display: -moz-inline-stack;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;

    }
    .footerHeader i{
      display: -moz-inline-stack;
      display: inline-block;
      *display: inline;
      zoom: 1;
      top: -.2em;
    
      position: relative;
}
    .hidden{
      display: none;
    }
      .test_box img{
        width: 150%;
        margin-top: -11%;
        margin-left: -25%;
      }
      .fixed{
        width: 100%;
        position: fixed;
        bottom: 0;
      }
      .caratula{
        width: 100%;
        margin-top: 5%;
      }
      .caratulaReproduciendo{
        width: 48px;
        height: 48px;
      }
      .button-bar{
        /* position:absolute; */
        /* bottom:0px; */
      }

      .playerFull{
        position:relative;
      }
      .aspect_Full{
        height: 77%;
      }
      .hover-red{
        color: black !important;
      }

      .hover-red:hover{
        color: red !important;
        -webkit-animation: hover .263s   ;
        -moz-animation: hover .263s   ;
        -o-animation: hover .263s   ;
        animation: hover .263s   ;
    }
    .header{
      vertical-align: top;
    }

    .card .text{
      height:1em;
    }
    .card .text h3{
      height:1em;
      font-size: 80%;
      font-weight: normal;
    }
    .card_35{
      min-width: 0px !important;
    };
    .listaImgX2{
      width:100%;
      height:50%;
    }
    .listaImgX4{
      display:inline-block;
      width:50%;
      height:50%;
    }

.footerContent{
  height: 100%;
}
    #popupListas{
      width: 300px;
      padding: 1em;
      box-sizing:border-box;
    }
  header.header{
  overflow: hidden; 
  }
  .dvReadme{
    padding: 1em;
    box-sizing: border-box;
  }